@charset "utf-8";
/* CSS Document */

body {
  font-size: 1.125rem;
  font-weight: 420;
  line-height: 2;
  color: #000000;
  text-align: left;
  background-color: #FFFFFF;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  line-height: 1.15;
	min-width:480px;
}
html{
	scroll-behavior: smooth;
}
h1 {
	font-family: 'Poiret One', sans-serif;
	color:rgba(0,0,0,1.00);
	margin-right: .7em;
	margin-left: .4em;
	font-size: 2.8em;
	font-weight: bold;
		background: linear-gradient(to right,  #ff0074 25%, #00a7f7 50%, #00ffac 75%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

h2 {
	font-family: 'Poiret One', sans-serif;
	color:rgba(0,0,0,1.00);
	margin-right: .7em;
	font-size:2.3em;
    letter-spacing: .05em;
	font-weight: 350;
	margin: .2em;
	font-weight: bold;
}
h3 {
	font-family: 'Poiret One', sans-serif;
	color:rgba(0,0,0,1.00);
	font-size:2em;
	font-weight: bold;
}
h4 {
	font-family: 'Poiret One', sans-serif;
	color:rgba(0,0,0,1.00);
	font-size:1.8em;
	font-weight: bold;
}
h5 {
	font-family: 'Poiret One', sans-serif;
	font-size:1.8em;
	font-weight: bolder;
	background: linear-gradient(to right,  #ff0074 25%, #00a7f7 50%, #00ffac 75%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
h6 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;	
	margin-bottom: .5em;
}
.bg-light {
  background-color: rgba(158,158,158,0.82) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
	font-family: 'Poiret One', sans-serif;
  font-size:2.3em; 
  letter-spacing: .1em;
  font-weight: 600;
  text-shadow: 0 0 5px #515151;
}
.navbar-light {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color:rgba(255,205,220,1.00);
	
}
s
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(207,207,207,1.00);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255,195,196,1.00);
	font-weight: bold;
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,1.00);
  border-color: rgba(255,255,255,1.00);
	border-width: .2em;
	
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, .7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item {
  margin-right: 2em;
	
}
a:link {
	color:rgba(118,61,62,1.00);
	text-decoration: none;
}

a:visited {
    color:rgba(101,66,67,1.00);
	text-decoration: none;
}

a:hover, a:active {
    color:rgba(159,85,87,1.00);
	text-decoration: none;
}

#logo {
	align:center;
}
.contentFrame {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 115%;
	background-color: rgba(110,110,110,0.29);
	border-radius: 12px;
	padding: 2%;
	  line-height: 1.5;
	min-width: 600px;
}
#contentFrameHome {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 115%;
	background-color: rgba(226,226,226,0.47);
	border-radius: 12px;
	padding: 2%;
	line-height: 1.5;
		min-width: 600px;
}
.homeText{
	color:#FFFFFF;
}
.vidEmbed {
 	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}
#backVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: #000000;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index:-3 !important;
    }
#centerList{
	list-style-type:none;
	width: 80%;
	min-width: 600px;
	margin: auto;
	text-align: center;	
}
.tableClass{
	align-content: center;
	text-align: center;
	border: none;
	border-collapse: collapse;
	width: 70%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 7px;
	min-width: 500px;
}
.tableClass tr{
	height: 50px;
	vertical-align: center;
	width: 60%;
}
.tableClass td{
	width: 40%;
}
.tableClass tr:hover {
	background-color: rgba(62,62,62,0.50);
	color: #FFFFFF;
}
.darkBackground{
	background-color: rgba(61,61,61,0.64); 
	padding: .2em;
	border-radius: 35px;
}
.logo{
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
	margin-top:2em; 
	margin-bottom:2em;
}
.logoStyle{

	min-width: 500px;
}